ansible==6.3.0
ansible-core==2.13.3
awscli==1.25.67
botocore==1.27.66
cffi==1.15.1
colorama==0.4.4
cryptography==37.0.4
docutils==0.16
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.1
packaging==21.3
pyasn1==0.4.8
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==5.4.1
resolvelib==0.8.1
rsa==4.7.2
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.12
